/* Basic styling for the app */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f61111;
}

.container {
  margin-top: 20px;
  background-color: #ad3333 !important;
}

h1, h2 {
  color: #5f0000;
}

main {
  background-color: #ff0000;
}